/* overall settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow: scroll;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: #f5f7fa; /* Light, neutral background color */
}

h1 {
    font-family: "Roboto";
    font-size: 2rem;
    color:#03247e;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 1.5rem;
    }
    header h2 {
        font-size: 1rem;
    }
}

h2 {
    font-family: "Roboto";
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
}

h3 {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
}

h4 {
    font-family: "Roboto Mono";
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* header settings */

header {
    background-color: #001242;
    color: #e2dfdf;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-content: center;*/
    text-transform: uppercase;
    box-shadow: 0 1px 1px #3f3c36;
    z-index: 100;
}

header h2 { /* The "logo" element */
    padding-left: 2.5rem;
    margin-bottom: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-right: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
}

nav ul li {
    padding-left: 2.5rem;
}

/* banner or hero section */

main {
    position: relative; 
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    margin-bottom: 2rem;
}

#hero-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    padding: 4rem 4rem;
    width: 75%;
    min-height: 30rem;
    background: linear-gradient(135deg, #d0d8e8, #c4cde0); /* Slightly darker gradient for depth */
}

@media only screen and (max-width: 760px) {
    #hero-section {
        margin-top: 2rem;
        width: 90%;
        padding: 2rem .25rem;
    }
}

.banner h3 {
    margin-top: 2rem;
}

/* Section below Step 1 heading */
#generate-new-card-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Section below Step 3 heading */
#turn-valid-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* form section – this is for getting card issuer input from user */

form {
    padding-bottom: 1rem;
    color: black;
}

label {
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;
    text-align: left;
}

select {
    font-size: .9rem;
}
/* buttons */
button {
    background: linear-gradient(145deg, #000d1a, #000611);
    border: none;
    color: #ffffff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8), -2px -2px 0px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    margin-bottom: 2rem;
}

button:hover {
    background: linear-gradient(145deg, #000611, #000d1a);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9), -1px -1px 0px rgba(0, 0, 0, 0.9);
    transform: scale(1.03);
}

.button:active {
    background: linear-gradient(145deg, #000d1a, #000611);
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 1);
    transform: scale(0.98);
}

/* main button to generate a card */
/*
#cardButton {  
    max-width: 30%;
}*/

@media only screen and (max-width: 560px) {
    button {
        font-size: .8rem;
        width: 150px;
    }
}

/* Card designs */

#placeholderCard { /* placeholder card, before step 1 */
    background: linear-gradient(145deg, #001242, #0a2a73);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto Mono', "monospace";
    padding: 3rem 2rem;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
}
#cardMessage { /* initial card, step 1 */
    background: linear-gradient(145deg, #001242, #0a2a73);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto Mono', "monospace";
    padding: 1.5rem 2rem;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
}

.chipImg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 30px;
    width: auto;
}

.contactlessImg {
    height: 30px;
    width: auto;
    margin-bottom: 1rem;
}

.companyFont {
    font-family: 'Montserrat';
    font-size: 1rem;
}

.numberFont {
    font-size: 1.5rem;
}

.cardHolder {
    font-size: .8rem;
}

#turnValidMessage { /* corrected card, step 3 */
    background: linear-gradient(145deg, #001242, #0a2a73);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto Mono', "monospace";
    padding: 1.5rem 2rem;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
}

@media only screen and (max-width: 560px) {
    #cardMessage {
        width: 240px;
        height: 150px;
        padding: 1.2rem 1.6rem;
    }
    #placeholderCard {
        width: 240px;
        height: 150px;
        padding: 2rem 1.6rem;
    }
    .chipImg {
        height: 20px;
        width: auto;
    }
    
    .contactlessImg {
        height: 20px;
        width: auto;
    }
    
    .companyFont {
        font-size: .7rem;
    }
    
    .numberFont {
        font-size: 1rem;
        margin-top: .75rem;
        margin-bottom: 1.75rem;
    }
    
    .cardHolder {
        font-size: .6rem;
    }
    #turnValidMessage { /* corrected card, step 3 */
        width: 240px;
        height: 150px;
        padding: 1.2rem 1.6rem;
    }
}

/* Step 2 messages */

#invalidMessage {
    color: red;
    font-weight: bold;
}

#validMessage {
    color: green;
    font-weight: bold;
}

/* step 4 message */
#validateAgainMessage span {
    color: green;
    font-weight: bold;
}


/* about section */

#aboutSection {
    margin-bottom: 4rem;
    padding: 4rem 2rem;
    border-radius: 1rem;
    width: 75%;
    min-height: 30rem;
    background: linear-gradient(135deg, #d0d8e8, #c4cde0); /* Slightly darker gradient for depth */
}

#aboutGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media only screen and (max-width: 560px) {
    #aboutSection {
        padding: 2rem 0.5rem;
        width: 90%;
    }
    
    #aboutGrid {
        grid-template-columns: 1fr;
    }
    .paragraph {
        max-width: 95%;
    }
}

.paragraph {
    text-align: left;
    width: 85%;
    line-height: 1.6; /* Increases space between lines for readability */
}

.paragraph p {
    font-size: 1rem; /* Sets a base size for the paragraph text */
}

.paragraph h3 {
    text-align: left;
}

.paragraph a {
    color: #03247e;
    font-weight: bold;
}

/* footer */
footer {
    background-color: #001242; 
    color: white; 
    text-align: center;  
    padding: 1rem; 
    position: relative; 
    width: 100%;  
    margin-top: 2rem;
}

footer p {
    margin-bottom: 0.5rem;
    font-size: .8rem;
    max-width: 100%;
    font-family: "Roboto Mono";
}