/* overall settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow: scroll;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Roboto";
    font-size: 2.5rem;
    color:#03247e;
    margin-bottom: 3rem;
}

h2 {
    font-family: "Roboto";
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 4rem;
    position: relative;
    text-align: center;
}

h3 {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
}

h4 {
    font-family: "Roboto Mono";
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* header settings */

header {
    background-color: #001242;
    color: #e2dfdf;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-content: center;*/
    text-transform: uppercase;
    box-shadow: 0 1px 1px #3f3c36;
    z-index: 100;
}

header h2 { /* The "logo" element */
    padding-left: 1.5rem;
    margin-bottom: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-right: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
}

nav ul li {
    padding-left: 2.5rem;
}

/* banner or hero section */

main {
    position: relative; 
}

.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
}

#hero-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-color: aliceblue;
    padding: 4rem 4rem;
    width: 60%;
    min-width: 550px;
    min-height: 60rem;
}

.banner h3 {
    margin-top: 2rem;
}

/* Section below Step 1 heading */
#generate-new-card-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Section below Step 3 heading */
#turn-valid-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* buttons */
button {
    background-color: black;
    color: white;
    font-family: "Roboto Mono";
    font-size: .9rem;
    padding: 3px 3px;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkblue;
}

#cardButton {  /* main button to generate a card */
    max-width: 30%;
}

/* Card designs */

#cardMessage { /* initial card, step 1 */
    background: linear-gradient(145deg, #001242, #0a2a73);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto Mono', "monospace";
    padding: 1.5rem 2rem;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
}

.chipImg {
    height: 30px;
    width: auto;
}

.contactlessImg {
    height: 30px;
    width: auto;
}

.companyFont {
    font-family: 'Montserrat';
}

.numberFont {
    font-size: 1.5rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.cardHolder {
    font-size: .8rem;
}

#turnValidMessage { /* corrected card, step 3 */
    background: linear-gradient(145deg, #001242, #0a2a73);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto Mono', "monospace";
    padding: 1.5rem 2rem;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    text-align: left;
}

/* Step 2 messages */

#invalidMessage {
    color: red;
    font-weight: bold;
}

#validMessage {
    color: green;
    font-weight: bold;
}

/* step 4 message */
#validateAgainMessage span {
    color: green;
    font-weight: bold;
}


/* form section */

form {
    padding: 1rem;
    color: black;
}

label {
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;
    text-align: left;
}

select {
    font-size: .9rem;
}

/* footer */
footer {
    background-color: #001242; 
    color: white; 
    text-align: center;  
    padding: 1rem; 
    position: relative; 
    top: 6rem;
    width: 100%;  
    margin-top: 4rem;
}

footer p {
    margin-bottom: 0.5rem;
    font-size: .8rem;
    max-width: 100%;
    font-family: "Roboto Mono";
}